<div class="d-flex justify-content-center mt-2">
    <a th:href="@{/chief/objects}">
        <button style="width: 150px" class="btn btn-outline-success  btn-block">Объекты</button>
    </a>
    &nbsp;
    <a th:href="@{/chief/types}">
        <button style="width: 150px" class="btn btn-outline-success  btn-block">Типы объектов</button>
    </a>
    &nbsp;
    <a th:href="@{/chief/criteria}">
        <button style="width: 150px" class="btn btn-outline-success  btn-block">Критерии</button>
    </a>
    &nbsp;
    <a th:href="@{/chief/measurements}">
        <button style="width: 150px" class="btn btn-outline-success  btn-block">Измерения</button>
    </a>
    &nbsp;
    <a th:href="@{/chief/checklists}">
        <button style="width: 150px" class="btn btn-outline-success  btn-block">Чек-листы</button>
    </a>
</div>