<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Админ</title>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<th:block th:include="/fragments/_navbar"/>
<th:block th:include="/fragments/_chiefMenu"/>
<div th:if="${measurements.isEmpty()}">
    <h4 class="d-flex justify-content-center">Список измерений пуст</h4>
    <div class="d-flex justify-content-center">
        <a th:href="@{/chief/newMeasurement}">
            <button style="width: 200px" class="btn btn-outline-success  btn-block">Создать измерение
            </button>
        </a>
    </div>
</div>
<div th:if="${!measurements.isEmpty()}">
    <div class="container">
        <h4 class="d-flex justify-content-center">Список измерений</h4>
        <div class="card">
            <div class="card-body">

                <!--accordion-->
                <div class="accordion accordion-flush" id="measurements">
                    <div class="accordion-item border" th:each="criterion : ${criteria}">
                        <h2 class="accordion-header"
                            th:attr="id='flush-headingOne' + ${criterion.id}">
                            <button th:text="${criterion.name + ' (позиций - ' + criterion.measures.size() + ') '}"
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    th:attr="data-bs-target='#flush-collapseOne' + ${criterion.id}"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                            </button>
                        </h2>
                        <div th:id="'flush-collapseOne' + ${criterion.id}"
                             class="accordion-collapse collapse"
                             th:attr="aria-labelledby='flush-headingOne' + ${criterion.id}"
                             data-bs-parent="#measurements">
                            <div class="accordion-body">
                                <div class="d-flex flex-row">
                                    <table class="table table-hover table-sm">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Измерение</th>
                                            <th>Оценка</th>
                                            <th>Действия</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="measurement : ${criterion.measures}">
                                            <td th:text="${measurement.id}" class="border-end align-middle"
                                                style="width: 2%"></td>
                                            <td th:text="${measurement.name}" style="width: 73%"
                                                class="align-middle"></td>
                                            <td th:text="${measurement.grade}" style="width: 5%"
                                                class="align-middle"></td>
                                            <td style="width: 20%" class="align-middle">
                                                <a th:href="@{/chief/editMeasurement/(id=${measurement.id})}"
                                                   class="btn btn-sm btn-outline-primary"
                                                   style="width: 100px">Изменить</a>
                                                <a th:href="@{/chief/deleteMeasurement/(id=${measurement.id})}"
                                                   class="btn btn-sm btn-outline-danger"
                                                   style="width: 100px">Удалить</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--accordion-->
                <hr/>
                <div class="mt-3 d-flex justify-content-center">
                    <a th:href="@{/chief/newMeasurement}">
                        <button style="width: 200px" class="btn btn-outline-success  btn-block">Создать измерение
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>